.navtop-home {
    background-color: $color-seal;
}

.navtop {
    display    : flex;
    align-items: center;
    padding    : 15px 0;

    &-menu-link {
        font-family: lato;
        font-weight: 600;
        transition : color 0.2s ease-out;
        color      : #ebebeb;

        #navbar-icon {
            font-size   : 25px;
            margin-right: 20px;
        }


    }

    &-menu-right {
        margin-left: auto;
        font-size  : 25px;


        a:not(:first-child) {
            margin-left: 25px;
        }

        a:hover {
            color: $color-aliz;
        }

    }

    &-menu-left {
        a:first-child {
            margin-right: 45px;
        }

        a:hover {
            color: $color-aliz;
        }
    }
}

.navbar {
    display    : flex;
    align-items: center;
    padding    : 50px 0px;
    width      : 100%;

    .navbar-logo {
        font-family: pacifica;
        font-size  : 42px;
        font-weight: 600;
        position   : relative;

        span:first-child {
            color: $color-woody;
        }

        span:nth-child(2) {
            color: $color-aliz;
        }

        &-img {
            position: absolute;
            top     : -12px;
        }
    }

    .navbar-menu {
        margin-left: auto;

        &-link {
            transition : color 0.2s ease-out;
            font-family: source;
            font-size  : 17px;
            color      : $color-seal;
            font-weight: 700;

            &:hover {
                color: $color-aliz;
            }
        }

        &-link:not(:first-child) {
            margin-left: 40px;
        }
    }
    
}

.navbar-auth {
    display    : flex;
    align-items: center;

    &-shop {
        margin-left: 50px;
        font-size  : 40px;
        color      : $color-aliz;

        .navbar-number {
            text-align: center;
            font-family: source;
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
            float: right;
            background-color: #e0cece;
            border-radius: 50%;
        }
    }

    &-search {
        margin-left     : 35px;
        font-size       : 20px;
        color           : #fffF;
        background-color: red;
        height: 100%;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.home-banner {
    background-color: $color-xana;

    .banner {
        text-align: center;
        padding   : 270px 0px 220px 0px;
        color     : #ffff;

        &-title {
            font-size    : 80px;
            font-family  : pacifica;
            margin-bottom: 50px;
        }

        &-content-small {
            font-family  : source;
            font-style   : italic;
            font-weight  : 600;
            margin-bottom: 35px;
        }

        &-content-normal {
            font-family  : source;
            font-size    : 30px;
            margin-bottom: 70px;
            font-weight  : 600;
        }

        .banner-button {
            margin-right: 30px;
        }

    }

    label i {
        color: black;
        font-size:30px;
        
        cursor: pointer;
        margin-left: 35px;
        display: none;
        

    }
    #check {
        display: none;
    }
}

.train {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 32px;
    text-align: center;  
    font-family: source;     
    i {
        font-size: 100px;
        padding-bottom: 30px;
    }    
    &-cat {
        text-align: center;
        transition :all 0.5s ease-out;
        h2 {
            padding-bottom: 10px;
        }
        &:hover {
            background-color: $color-aliz;
            
            color: white;
        }
    }
    &-dog {
        h2 {
            padding-bottom: 10px;
        }
        &:hover {
            background-color: $color-aliz;
            transition :all 0.5s ease-out;
            color: white;
        }
    }
    &-paw {
        h2 {
            padding-bottom: 10px;
        }
        &:hover {
            background-color: $color-aliz;
            transition : 0.5s;
            color: white;
        }
    }
    &-cat, &-dog, &-paw {
        padding: 10% 0;
    }
    
}

