$color-cowboy: #423232;
$color-aliz: #e72f30;
$color-seal: #221313;
$color-woody:#524242;
$color-xana:#767875;

@font-face {
    font-family: lato ;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: source ;
    src: url(SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: pacifica ;
    src: url(/Pacifico-Regular.ttf);
}