@charset "UTF-8";
@font-face {
  font-family: lato;
  src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: source;
  src: url(SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: pacifica;
  src: url(Pacifico-Regular.ttf);
}

@font-face {
  font-family: yrsa;
  src: url(Yrsa-Regular.ttf);
}

.navtop-home {
  background-color: #221313;
}

.navtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.navtop-menu-link {
  font-family: lato;
  font-weight: 600;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #ebebeb;
}

.navtop-menu-link #navbar-icon {
  font-size: 25px;
  margin-right: 20px;
}

.navtop-menu-right {
  margin-left: auto;
  font-size: 25px;
}

.navtop-menu-right a:not(:first-child) {
  margin-left: 25px;
}

.navtop-menu-right a:hover {
  color: #e72f30;
}

.navtop-menu-left a:first-child {
  margin-right: 45px;
}

.navtop-menu-left a:hover {
  color: #e72f30;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  width: 100%;
}

.navbar .navbar-logo {
  font-family: pacifica;
  font-size: 42px;
  font-weight: 600;
  position: relative;
}

.navbar .navbar-logo span:first-child {
  color: #524242;
}

.navbar .navbar-logo span:nth-child(2) {
  color: #e72f30;
}

.navbar .navbar-logo-img {
  position: absolute;
  top: -12px;
}

.navbar .navbar-menu {
  margin-left: auto;
}

.navbar .navbar-menu-link {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  font-family: source;
  font-size: 17px;
  color: #221313;
  font-weight: 700;
}

.navbar .navbar-menu-link:hover {
  color: #e72f30;
}

.navbar .navbar-menu-link:not(:first-child) {
  margin-left: 40px;
}

.navbar-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-auth-shop {
  margin-left: 50px;
  font-size: 40px;
  color: #e72f30;
}

.navbar-auth-shop .navbar-number {
  text-align: center;
  font-family: source;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  float: right;
  background-color: #e0cece;
  border-radius: 50%;
}

.navbar-auth-search {
  margin-left: 35px;
  font-size: 20px;
  color: #fffF;
  background-color: red;
  height: 100%;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner {
  background-color: #767875;
}

.home-banner .banner {
  text-align: center;
  padding: 270px 0px 220px 0px;
  color: #ffff;
}

.home-banner .banner-title {
  font-size: 80px;
  font-family: pacifica;
  margin-bottom: 50px;
}

.home-banner .banner-content-small {
  font-family: source;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 35px;
}

.home-banner .banner-content-normal {
  font-family: source;
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: 600;
}

.home-banner .banner .banner-button {
  margin-right: 30px;
}

.home-banner label i {
  color: black;
  font-size: 30px;
  cursor: pointer;
  margin-left: 35px;
  display: none;
}

.home-banner #check {
  display: none;
}

.train {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  text-align: center;
  font-family: source;
}

.train i {
  font-size: 100px;
  padding-bottom: 30px;
}

.train-cat {
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.train-cat h2 {
  padding-bottom: 10px;
}

.train-cat:hover {
  background-color: #e72f30;
  color: white;
}

.train-dog h2 {
  padding-bottom: 10px;
}

.train-dog:hover {
  background-color: #e72f30;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: white;
}

.train-paw h2 {
  padding-bottom: 10px;
}

.train-paw:hover {
  background-color: #e72f30;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.train-cat, .train-dog, .train-paw {
  padding: 10% 0;
}

.pet-service .service-text {
  text-align: center;
  margin-bottom: 85px;
}

.pet-service .service-text h2 {
  padding: 45px 0;
  position: relative;
}

.pet-service .service-text h2::before {
  content: '';
  position: absolute;
  margin: auto;
  background-color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  width: 80px;
  top: 0px;
  text-align: center;
}

.pet-service .service-pet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-columns: repeat(3,1fr);*/
  grid-column-gap: 32px;
  text-align: center;
  font-family: source;
  grid-row-gap: 70px;
}

.pet-service .service-pet-item {
  border-bottom: 1px solid #dcdcdc;
}

.pet-service .service-pet-item h3 {
  padding: 50px 0;
  text-transform: uppercase;
}

.pet-service .service-pet-item p {
  padding-bottom: 50px;
}

.pet-service .service-pet-item:hover {
  border-bottom: 1px solid #e72f30;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pet-service .service-pet-item:hover h3 {
  color: #e72f30;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.survey-home {
  padding: 150px 0px 100px 0px;
  background-size: cover;
  background-image: url("Background-Home.png");
  color: #ffff;
}

.survey-home .survey {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  padding: 0px;
}

.survey-home .survey-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey-home .survey-item-content {
  margin-left: 25px;
}

.survey-home .survey-item-content > p:first-child {
  font-family: yrsa;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.survey-home .survey-item-content > p:last-child {
  font-family: pacifica;
  font-size: 50px;
}

.survey-home .survey-item > i {
  font-size: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.system {
  margin-top: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.system-item > h1 {
  font-size: 30px;
  font-family: yrsa;
  margin-bottom: 40px;
}

.system-item > p {
  font-size: 16px;
  font-family: source;
  margin-bottom: 40px;
  color: #a4a4a4;
  margin-bottom: 80px;
  line-height: 2;
}

.system .system-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.system .system-img-item {
  width: calc(50% - 30px);
  padding: 35px 70px;
  border: 1px solid #e8e3e3;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.system .system-img .hover-system {
  width: calc(50% - 30px);
  padding: 35px 70px;
  border: 1px solid #e8e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #e72f30;
  color: #ffff;
  border-radius: 30px;
}

.system .system-img-item > h1 {
  margin-top: 10px;
}

.right > h1:not(:first-child) {
  border: 1px solid #e8e3e3;
  padding: 15px 20px 15px 30px;
  font-size: 25px;
  font-family: source;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right > h1:not(:first-child) i {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #e4d4d4;
  color: #f74f4f;
}

.right > p:not(:first-child, :nth-child(4)) {
  display: none;
}

#minus-1,
#minus-2,
#minus-3 {
  display: none;
}

.footer-home {
  background-color: #3a3939;
}

/* Cuong 24/7 */
.latest-news .new-text {
  text-align: center;
  padding: 90px 0;
}

.latest-news .new-text h2 {
  padding: 45px 0;
  position: relative;
}

.latest-news .new-text h2::before {
  content: '';
  position: absolute;
  margin: auto;
  background-color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  width: 80px;
  top: 20px;
  text-align: center;
}

.latest-news .new-pet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-columns: repeat(3,1fr);*/
  grid-column-gap: 32px;
  font-family: source;
}

.latest-news .new-pet-item p {
  line-height: 1.5;
  color: #646464;
}

.latest-news .new-pet-item h3 {
  padding: 60px 0 40px 0;
}

.latest-news .new-pet-item p:last-child {
  padding-top: 10px;
}

.latest-news .new-pet-item:hover h3 {
  color: #e72f30;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.logoindex .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  /*grid-template-columns: repeat(4,1fr);*/
  grid-column-gap: 32px;
  text-align: center;
  font-family: source;
  padding: 140px 0 100px 0;
}

.logoindex .logo-index {
  text-align: center;
  margin-left: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

/* kết thúc Cường 24/7 */
.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 390px 350px 360px;
      grid-template-columns: 390px 350px 360px;
  padding: 95px 0px 65px 0px;
}

.footer-col01-logo {
  padding: 0px;
}

.footer-col01-logo .navbar-logo {
  padding-bottom: 45px;
}

.footer-col01-logo #my {
  color: #ffff;
}

.footer-col01-content {
  line-height: 1.5;
  margin-bottom: 65px;
  color: #c0c0c0;
}

.footer-col01-content span {
  color: #e72f30;
}

.footer-col01-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

.footer-col01-menu-item:not(:first-child) {
  margin-left: 30px;
}

.footer-col01-menu-link {
  color: #ffff;
  font-size: 20px;
}

.footer-col01-menu-link:hover {
  color: #e72f30;
}

.footer-col01-privacy a {
  color: #c0c0c0;
}

.footer-col01-privacy a:hover {
  color: #e72f30;
}

.footer-col01-privacy a:first-child {
  padding-right: 15px;
  border-right: 1px solid #c0c0c0;
}

.footer-col01-privacy a:last-child {
  margin-left: 20px;
}

.footer-col02 {
  margin-left: 110px;
}

.footer-col02-header {
  color: #ffff;
  font-family: yrsa;
  font-size: 20px;
  margin-bottom: 60px;
  position: relative;
}

.footer-col02-header:before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #e72f30;
  position: absolute;
  bottom: -20px;
}

.footer-col02-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer-col02-menu li:not(:last-child) {
  margin-bottom: 25px;
}

.footer-col02-menu a {
  color: #c0c0c0;
}

.footer-col02-menu a:hover {
  color: #e72f30;
}

.footer-col02-menu-right {
  margin-left: 50px;
}

.footer-col03 {
  margin-left: 160px;
}

.footer-col03-header {
  color: #ffff;
  font-family: yrsa;
  font-size: 20px;
  margin-bottom: 60px;
  position: relative;
}

.footer-col03-header:before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #e72f30;
  position: absolute;
  bottom: -20px;
}

.footer-col03-content h5 {
  color: #ffff;
  margin-bottom: 20px;
}

.footer-col03-content p {
  color: #7d7d7d;
}

.footer-col03-content-above {
  padding-bottom: 30px;
  border-bottom: 1px solid #4a4949;
}

.footer-col03-content-under {
  margin-top: 30px;
}

.footer-nav {
  background-color: #1b1a1a;
}

.footer-nav .footer-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0px;
}

.footer-nav .footer-navbar .input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2d2d2d;
  padding: 5px 5px 5px 30px;
  border-radius: 20px;
}

.footer-nav .footer-navbar #input-footer {
  border: none;
  background-color: #2d2d2d;
  outline: none;
  color: #ffff;
  font-size: 15px;
}

.footer-nav .footer-navbar #button-footer {
  border: none;
  padding: 15px 35px;
  background-color: #e72f30;
  color: #ffff;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 20px;
}

.footer-nav p {
  color: #ffff;
  font-weight: bold;
}

.footer-nav #text-footer {
  color: #e72f30;
}

.mypethome {
  margin-top: 160px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
}

.mypethome-text span {
  font-family: pacifica;
}

.mypethome-text .pet {
  color: #e72f30;
}

.mypethome-text h3 {
  margin-bottom: 65px;
}

.mypethome-text hr {
  background-color: #e72f30;
  width: 30px;
  height: 2px;
  border: 1px solid #e72f30;
}

.mypethome-text {
  line-height: 28px;
}

.mypethome-text p {
  font-family: source;
}

.mypethome-text a {
  background-color: #e72f30;
  margin-top: 20px;
  margin-left: 0;
  padding: 8px 57px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: source;
  color: #221313;
  line-height: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 15px 55px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #ffff;
  background-color: transparent;
  color: #ffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  border-color: #e72f30;
  background-color: #e72f30;
}
/*# sourceMappingURL=style.css.map */