@font-face {
  font-family: lato;
  src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: source;
  src: url(SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: pacifica;
  src: url(Pacifico-Regular.ttf);
}

.navtop-home {
  background-color: #221313;
}

.navtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.navtop-menu-link {
  font-family: lato;
  font-weight: 600;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #ebebeb;
}

.navtop-menu-link #navbar-icon {
  font-size: 25px;
  margin-right: 20px;
}

.navtop-menu-right {
  margin-left: auto;
  font-size: 25px;
}

.navtop-menu-right a:not(:first-child) {
  margin-left: 25px;
}

.navtop-menu-right a:hover {
  color: #e72f30;
}

.navtop-menu-left a:first-child {
  margin-right: 45px;
}

.navtop-menu-left a:hover {
  color: #e72f30;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  width: 100%;
}

.navbar .navbar-logo {
  font-family: pacifica;
  font-size: 42px;
  font-weight: 600;
  position: relative;
}

.navbar .navbar-logo span:first-child {
  color: #524242;
}

.navbar .navbar-logo span:nth-child(2) {
  color: #e72f30;
}

.navbar .navbar-logo-img {
  position: absolute;
  top: -12px;
}

.navbar .navbar-menu {
  margin-left: auto;
}

.navbar .navbar-menu-link {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  font-family: source;
  font-size: 17px;
  color: #221313;
  font-weight: 700;
}

.navbar .navbar-menu-link:hover {
  color: #e72f30;
}

.navbar .navbar-menu-link:not(:first-child) {
  margin-left: 40px;
}

.navbar-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-auth-shop {
  margin-left: 50px;
  font-size: 40px;
  color: #e72f30;
}

.navbar-auth-shop .navbar-number {
  text-align: center;
  font-family: source;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  float: right;
  background-color: #e0cece;
  border-radius: 50%;
}

.navbar-auth-search {
  margin-left: 35px;
  font-size: 20px;
  color: #fffF;
  background-color: red;
  height: 100%;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner {
  background-color: #767875;
}

.home-banner .banner {
  text-align: center;
  padding: 270px 0px 220px 0px;
  color: #ffff;
}

.home-banner .banner-title {
  font-size: 80px;
  font-family: pacifica;
  margin-bottom: 50px;
}

.home-banner .banner-content-small {
  font-family: source;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 35px;
}

.home-banner .banner-content-normal {
  font-family: source;
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: 600;
}

.home-banner .banner .banner-button {
  margin-right: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: source;
  color: #221313;
  line-height: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 15px 55px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #ffff;
  background-color: transparent;
  color: #ffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  border-color: #e72f30;
  background-color: #e72f30;
}
/*# sourceMappingURL=style.css.map */